@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #555555;
  background-color: #121723;
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInImage {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btn:link, .btn:visited {
  text-transform: capitalize;
  text-decoration: none;
  padding: 1rem 3rem;
  margin-top: 2.5rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem); }

.btn-white {
  background-color: #eee;
  color: #555555; }
  .btn-white::after {
    background-color: #eee; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-animated {
  animation: moveInButton 1s ease-out .75s;
  animation-fill-mode: backwards; }

button {
  text-transform: capitalize;
  text-decoration: none;
  padding: 1.3rem 4rem;
  font-size: 1.7rem;
  background: #55c57a;
  border: #55c57a;
  cursor: pointer;
  border-radius: .5rem;
  transition: all .5s;
  color: #eee; }
  button:hover {
    transform: translateY(-0.3rem);
    background: #25a57b; }
    button:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }

::-webkit-scrollbar {
  width: 1rem; }

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: .5rem;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: .5rem;
  border-radius: .5rem;
  background: #55c57a; }

.scrolltop {
  display: none;
  margin: 0 auto;
  position: fixed;
  bottom: 5rem;
  right: 1.8rem; }
  .scrolltop .scroll {
    border-radius: 0.2rem;
    color: #eee;
    background: #25a57b;
    opacity: 0.8;
    padding: 1rem 1.2rem 0.8rem 1.2rem;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; }
  .scrolltop .scroll:hover {
    transition: all .4s linear;
    transform: scale(1.1); }
  .scrolltop .scroll .fa {
    font-size: 2.5rem;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; }

.header .dl-toggle {
  margin: auto; }

.header .checkbox {
  opacity: 0;
  position: absolute; }

.header .label {
  width: 38px;
  height: 19px;
  background-color: #000000ee;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: .3rem;
  position: relative;
  transform: scale(1.5);
  cursor: pointer; }

.header .ball {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 1.5px;
  left: 0.2rem;
  border-radius: 50%;
  transition: transform 0.2s linear; }

.header .checkbox:checked + .label .ball {
  transform: translateX(1.8rem); }

.header .label i {
  color: #eee;
  font-size: 1.3rem;
  display: block; }

.body-light {
  background-color: #fdfdfc; }
  .body-light .header {
    background-image: linear-gradient(to bottom, rgba(126, 213, 111, 0.25), rgba(37, 165, 123, 0)); }
    .body-light .header .label {
      background-color: #2c2b2b; }
    .body-light .header_nav {
      background: #fdfdfc;
      border-bottom: 0.05rem solid rgba(153, 153, 153, 0.519); }
      .body-light .header_nav ul li a {
        color: #2c2b2b; }
        .body-light .header_nav ul li a::after {
          background: #55c57a; }
      .body-light .header_nav .header_logo a {
        color: #2c2b2b; }
    .body-light .header .header_image img {
      border: .8rem solid #fdfdfc; }
    .body-light .header::before {
      color: #2c2b2b; }
    .body-light .header .btn-white {
      background-color: #55c57a;
      color: #fff; }
      .body-light .header .btn-white::after {
        background-color: #55c57a; }
  .body-light .header_nav .fa-bars, .body-light .header_nav .fa-xmark {
    color: #2c2b2b !important; }
  .body-light .heading-primary {
    color: #2c2b2b;
    backface-visibility: hidden; }
    .body-light .heading-primary-main {
      color: #2c2b2b; }
    .body-light .heading-primary-sub {
      color: #2c2b2b; }
  .body-light .container .skills_list {
    color: #fdfdfc; }
    .body-light .container .skills_list_frontend {
      background: #55c57a; }
      .body-light .container .skills_list_frontend .skills_list_title p {
        border-bottom: 0.2rem solid #eee; }
    .body-light .container .skills_list_backend {
      box-shadow: 10px 10px #55c57a; }
  .body-light .container .skills_title, .body-light .container .portfolio_title, .body-light .container .contact_title {
    color: #2c2b2b; }
    .body-light .container .skills_title span i, .body-light .container .portfolio_title span i, .body-light .container .contact_title span i {
      color: #55c57a; }
  .body-light .container .contact_form form input, .body-light .container .contact_form form textarea {
    background: #fdfdfc;
    border: 0.05rem solid rgba(153, 153, 153, 0.519);
    padding: 1.5rem;
    margin: 1.5rem 0;
    color: #2c2b2b;
    font-size: 1.8rem;
    border-radius: .6rem; }
  .body-light .scrolltop .scroll {
    background: #55c57a; }
  .body-light .copyright {
    background: #fdfdfc;
    border-top: 0.05rem solid rgba(153, 153, 153, 0.519);
    color: #2c2b2b; }

@media (max-width: 700px) {
  .body-light .header_nav ul {
    background: #fdfdfcdd; }
  .body-light .header_nav ul li a {
    color: #2c2b2b; }
  .header .label {
    width: 34px;
    height: 16px; }
  .header .ball {
    width: 14px;
    height: 14px;
    top: 0.8px;
    left: 0.19rem; }
  .header .checkbox:checked + .label .ball {
    transform: translateX(1.7rem); }
  .header .label i {
    font-size: 1.1rem;
    padding-top: 0.6px; } }

.header {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(126, 213, 111, 0.2), rgba(37, 165, 123, 0));
  background-size: cover;
  background-position: top;
  margin-bottom: 13rem;
  position: relative; }
  .header_nav {
    padding: .5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #232936d6; }
    .header_nav ul li {
      display: inline-block;
      list-style: none;
      margin: 1rem 1.8rem; }
    .header_nav ul li a {
      font-family: 'Passero One', cursive;
      color: #eee;
      font-size: 2.1rem;
      text-decoration: none;
      position: relative; }
    .header_nav ul li a::after {
      content: '';
      width: 0;
      height: 3px;
      background: #55c57a;
      position: absolute;
      left: 0;
      bottom: -6px;
      transition: 0.5s; }
    .header_nav ul li a:hover::after {
      width: 100%; }
    .header_nav .fa-solid {
      display: none; }
  .header_logo a {
    font-family: 'Passero One', cursive;
    height: 5rem;
    text-decoration: none;
    color: #eee;
    font-size: 2.6rem;
    font-weight: 900;
    letter-spacing: .2rem;
    text-transform: uppercase; }
  .header_text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .header_image img {
    border-radius: 50%;
    width: 36rem;
    border: 0.8rem solid #55c57a;
    animation-name: moveInImage;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    transition: transform .7s ease-in-out; }
    .header_image img:hover {
      transform: rotate(360deg); }
  .header::before {
    animation: bounce 1s ease infinite;
    bottom: 2rem;
    color: #fff;
    content: '╲╱';
    font-size: 3rem;
    height: 7rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 4rem;
    margin-left: -3rem;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 6rem; }

@keyframes bounce {
  50% {
    transform: translateY(-50%); } }
  .header-primary-button {
    display: flex; }
    .header-primary-button .first {
      margin-right: 1.1rem; }

.heading-primary {
  color: #eee;
  backface-visibility: hidden; }
  .heading-primary-main {
    font-family: 'Passero One', cursive;
    font-size: 3.6rem;
    font-weight: 900;
    color: #55c57a;
    letter-spacing: .4rem;
    text-transform: uppercase;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .heading-primary-sub {
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    padding-right: 3rem;
    letter-spacing: .15rem;
    animation: moveInRight 2s ease-out; }

.container {
  padding: 1rem 10%; }
  .container .skills {
    margin-bottom: 12rem; }
    .container .skills_title {
      font-family: 'Passero One', cursive;
      color: #eee;
      margin-bottom: 3rem;
      font-size: 2.8rem;
      font-weight: 900;
      letter-spacing: .2rem; }
      .container .skills_title span i {
        color: #55c57a; }
    .container .skills_list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 5rem;
      color: #eee; }
      .container .skills_list_title {
        display: flex;
        justify-content: center;
        font-size: 2.3rem;
        font-weight: 600;
        padding-bottom: 1rem;
        letter-spacing: .1rem; }
        .container .skills_list_title p {
          border-bottom: 0.2rem solid #55c57a; }
      .container .skills_list_frontend {
        padding: 1rem;
        background: #25a57b;
        border-radius: 1rem;
        box-shadow: 10px 10px #232936d6;
        transition: transform 0.5s; }
        .container .skills_list_frontend:hover {
          transform: translateY(-0.5rem); }
          .container .skills_list_frontend:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0; }
        .container .skills_list_frontend:active {
          transform: translateY(-0.1rem); }
      .container .skills_list_backend {
        padding: 1rem;
        border-radius: 1rem;
        background: #232936d6;
        box-shadow: 10px 10px #25a57b;
        transition: transform 0.5s; }
        .container .skills_list_backend:hover {
          transform: translateY(-0.5rem); }
          .container .skills_list_backend:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0; }
        .container .skills_list_backend:active {
          transform: translateY(-0.1rem); }
      .container .skills_list_items {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        padding: 1rem; }
        .container .skills_list_items_div {
          display: flex;
          align-items: center;
          padding-bottom: .8rem;
          font-size: 1.7rem; }
        .container .skills_list_items_img {
          width: 3rem;
          height: 3rem;
          margin-right: .6rem;
          border-radius: 10%;
          border: 0.1rem solid #55c57a; }
  .container .portfolio {
    margin-bottom: 12rem; }
    .container .portfolio_title {
      font-family: 'Passero One', cursive;
      color: #eee;
      margin-bottom: 3rem;
      font-size: 2.8rem;
      font-weight: 900;
      letter-spacing: .2rem; }
      .container .portfolio_title span i {
        color: #55c57a; }
    .container .portfolio_list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 4rem;
      color: #eee; }
      .container .portfolio_list_item {
        border-radius: 1rem;
        position: relative;
        overflow: hidden; }
        .container .portfolio_list_item:hover img {
          transform: scale(1.1); }
        .container .portfolio_list_item img {
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          display: block;
          transition: transform 0.5s; }
        .container .portfolio_list_item_layer {
          width: 100%;
          height: 0;
          background: linear-gradient(rgba(0, 0, 0, 0.6), #25a57b);
          border-radius: 1rem;
          position: absolute;
          left: 0;
          bottom: 0;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 2rem;
          text-align: center;
          font-size: 1.5rem;
          transition: height 0.5s; }
          .container .portfolio_list_item_layer h3 {
            font-weight: 600;
            margin-bottom: 2rem; }
          .container .portfolio_list_item_layer span {
            display: flex; }
          .container .portfolio_list_item_layer span div {
            margin-top: 2rem;
            margin-right: 1rem;
            font-size: 1.8rem;
            line-height: 4rem;
            background: #fff;
            width: 4rem;
            height: -4rem;
            border-radius: 50%;
            text-align: center; }
            .container .portfolio_list_item_layer span div a {
              color: #25a57b;
              text-decoration: none; }
        .container .portfolio_list_item:hover .portfolio_list_item_layer {
          height: 100%; }
  .container .contact {
    margin-bottom: 10rem; }
    .container .contact_title {
      font-family: 'Passero One', cursive;
      color: #eee;
      margin-bottom: 3rem;
      font-size: 2.8rem;
      font-weight: 900;
      letter-spacing: .2rem;
      text-align: center; }
      .container .contact_title span i {
        color: #55c57a; }
    .container .contact_form form {
      width: 80%;
      margin: auto; }
      .container .contact_form form input, .container .contact_form form textarea {
        width: 100%;
        border: 0;
        outline: none;
        background: #232936d6;
        padding: 1.5rem;
        margin: 1.5rem 0;
        color: #eee;
        font-size: 1.8rem;
        border-radius: .6rem; }
        .container .contact_form form input::placeholder, .container .contact_form form textarea::placeholder {
          font-size: 1.72rem; }
    .container .contact #msg {
      width: 80%;
      margin: auto;
      padding-top: 2rem;
      text-align: center;
      color: #25a57b;
      display: block; }

.copyright {
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  color: #eee;
  background: #232936d6;
  font-weight: 300;
  margin-top: 2rem; }
  .copyright .fa-heart {
    color: #7ed56f;
    font-size: 1.5rem; }

@media (max-width: 900px) {
  .header_image img {
    width: 25rem;
    margin-bottom: 2rem; }
  .heading-primary-main {
    font-size: 2.6rem; }
  .heading-primary-sub {
    font-size: 1.7rem;
    padding-right: 0; } }

@media (max-width: 700px) {
  .container {
    padding: 1rem 5%; }
  .header_logo a {
    font-size: 2.3rem; }
  .header_nav ul {
    background: #232936f3;
    position: fixed;
    top: 0;
    right: -20rem;
    width: 20rem;
    height: 100vh;
    padding-top: 5rem;
    z-index: 2;
    transition: right 0.5s; }
    .header_nav ul li {
      display: block;
      margin: 2.5rem; }
    .header_nav ul .fa-solid {
      position: absolute;
      top: 1.9rem;
      left: 2.5rem;
      cursor: pointer; }
  .header_nav .fa-solid {
    display: block;
    font-size: 2.5rem;
    color: #eee;
    cursor: pointer; }
  .header::before {
    font-size: 2.2rem;
    bottom: 4rem;
    height: 3rem; }
  .header_text-box {
    flex-direction: column-reverse;
    top: 45%; }
  .header_image img {
    width: 27rem;
    margin-bottom: 2rem; }
  .header-primary-button {
    justify-content: center; }
  .heading-primary {
    text-align: center; }
    .heading-primary-main {
      font-size: 2.1rem;
      letter-spacing: .3rem; }
    .heading-primary-sub {
      font-size: 1.5rem;
      letter-spacing: .12rem;
      padding-right: 0; }
  .btn:link, .btn:visited {
    padding: 0.7rem 2rem;
    font-size: 1.5rem; }
  .contact_form form {
    width: 100% !important; }
    .contact_form form input::placeholder {
      font-size: 1.5rem; }
  .skills_list_items_div span {
    font-size: 1.6rem; } }

@media (max-width: 600px) {
  .container {
    padding: 1rem 5%; }
  .header_logo a {
    font-size: 2.3rem; }
  .header_nav {
    padding: 1rem 10% !important; }
    .header_nav ul {
      background: #232936f3;
      position: fixed;
      top: 0;
      right: -20rem;
      width: 20rem;
      height: 100vh;
      padding-top: 5rem;
      z-index: 2;
      transition: right 0.5s; }
      .header_nav ul li {
        display: block;
        margin: 2.5rem; }
      .header_nav ul .fa-solid {
        position: absolute;
        top: 1.9rem;
        left: 2.5rem;
        cursor: pointer; }
    .header_nav .fa-solid {
      display: block;
      font-size: 2.5rem;
      color: #eee;
      cursor: pointer; }
  .header::before {
    font-size: 2.2rem;
    bottom: 8rem;
    height: 3rem; }
  .header_text-box {
    flex-direction: column-reverse;
    top: 45%; }
  .header_image img {
    width: 20rem;
    margin-bottom: 2rem; }
  .header-primary-button {
    justify-content: center; } }

@media (max-width: 400px) {
  .header_logo a {
    font-size: 2.3rem; }
  .header_nav {
    padding: 1rem 10% !important; }
    .header_nav ul {
      background: #232936f3;
      position: fixed;
      top: 0;
      right: -20rem;
      width: 20rem;
      height: 100vh;
      padding-top: 5rem;
      z-index: 2;
      transition: right 0.5s; }
      .header_nav ul li {
        display: block;
        margin: 2.5rem; }
      .header_nav ul .fa-solid {
        position: absolute;
        top: 1.9rem;
        left: 2.5rem;
        cursor: pointer; }
    .header_nav .fa-solid {
      display: block;
      font-size: 2.5rem;
      color: #eee;
      cursor: pointer; }
  .header_text-box {
    top: 45%; }
  .header_image img {
    width: 18rem; }
  .btn:link, .btn:visited {
    padding: 0.7rem 1.9rem;
    font-size: 1.4rem; } }

@media (orientation: landscape) and (hover: none) {
  .header::before {
    display: none; }
  .header_text-box {
    top: 65%; }
  .header_image img {
    width: 25rem;
    margin-bottom: 2rem; } }
