.header {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba($color-primary-light, 0.2), rgba($color-primary-dark, 0));
    background-size: cover;
    background-position: top;
    margin-bottom: 13rem;
    position: relative;

    &_nav {
        padding: .5rem 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        background: #232936d6;

        & ul li {
            display: inline-block;
            list-style: none;
            margin: 1rem 1.8rem;
        }

        & ul li a {
            font-family: 'Passero One', cursive;
            color: $color-white;
            font-size: 2.1rem;
            text-decoration: none;
            position: relative;
        }

        & ul li a::after {
            content: '';
            width: 0;
            height: 3px;
            background: $color-primary;
            position: absolute;
            left: 0;
            bottom: -6px;
            transition: 0.5s;
        }

        & ul li a:hover::after {
            width: 100%;
        }

        & .fa-solid {
            display: none;
        }
    }

    &_logo a {
        font-family: 'Passero One', cursive;
        height: 5rem;
        text-decoration: none;
        color: $color-white;
        font-size: 2.6rem;
        font-weight: 900;
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

    &_text-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 10%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    &_image img{
        border-radius: 50%;
        width: 36rem;
        border: .8rem solid $color-primary;
        animation-name: moveInImage;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        transition: transform .7s ease-in-out;

        &:hover {
            transform: rotate(360deg);
            }
    }

    & .pointer {
        animation: bounce 1s ease infinite;
        bottom: 2rem;
        font-size: 3rem;
        text-decoration: none;
        color: #fff;
        height: 7rem;
        left: 50%;
        letter-spacing: -1px;
        line-height: 4rem;
        margin-left: -3rem;
        opacity: 0.8;
        position: absolute;
        text-align: center;
        width: 6rem;
    }
      
      @keyframes bounce {
        50% {
          transform: translateY(-50%);
        }
      }

      &-primary-button {
        display: flex;

        & .first {
            margin-right: 1.1rem;
        }
    }
}

.heading-primary {
color: $color-white;
backface-visibility: hidden;

    &-main {
        font-family: 'Passero One', cursive;
        font-size: 3.6rem;
        font-weight: 900;
        color: $color-primary;
        letter-spacing: .4rem;
        text-transform: uppercase;

        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }

    &-sub {
        display: block;
        font-size: 1.7rem;
        font-weight: 500;
        padding-right: 3rem;
        letter-spacing: .15rem;
        animation: moveInRight 2s ease-out;
    }
}